
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    
   
  }
  body{
    
        background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('#');
        background-color: white;
    
  }
  
  input[type=submit] {
    background-color: #555;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
  

  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    color: #555;
    
        background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('#');
    
  }


  footer{
    width: 100%;
    height: 80px;
   
    
    position: absolute;
    bottom: -1;
} 

footer div {
    width: 297px;
    margin: 0 auto;
   
    


}

footer div ul {
    list-style: none;
}

footer div ul li {

   display: inline;
   margin: 16px 7px 0 0;
}

footer div ul li a {
    color: black;
    font-family: 'consola';
    font-size: 11pt;
    text-decoration: none;
}

footer .copyright p {

    width: 170px;
    margin: 0 auto;
    color: black;
    font-family: 'consola';
    font-size: 9pt;
    margin-top: 0px;


 }

 footer .copyright p a {
     text-decoration: none;
     color: black;

 } 

   